<div
    data-controller="popin"
    data-map-target="featurePopin"
    aria-hidden="true"
    class="
        sn-flex aria-hidden:sn-hidden sn-sticky sn-top-0 sn-h-screen sn-flex-col sn-z-10
        fr-p-1w fr-background-default--grey
    "
    >
    <button
        data-action="popin#close"
        class="fr-mb-1w fr-btn fr-btn--icon-right fr-btn--tertiary fr-icon-close-circle-fill"
    >
        Fermer
    </button>
    <div
        data-popin-target="content"
        class="sn-overflow-y-auto sn-overscroll-contain"
    ></div>
</div>
