{% extends "layout/base.html" %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Votre compte n'a pas accès à cette page. Pour continuer, merci de vous connecter avec un compte ayant accès.</p>
    {% else %}
        <p>Merci de vous connecter pour accéder à cette page.</p>
    {% endif %}
{% endif %}

<div class="fr-alert fr-alert--info">
    <h3 class="fr-alert__title">Information : Transition de la méthode de connexion</h3>
    <p>En attendant que tout le monde reçoive des identifiants de connexion personnels, vous pouvez continuer à utiliser l'identifiant commun.</p>
</div>

<form method="post" action="">
    {% csrf_token %}
    <div class="fr-input-group fr-mt-3w {% if form.errors %}fr-input-group--error{% endif %}">
        <label class="fr-label" for="{{ form.username.id_for_label }}">Identifiant ou Email</label>
        <input
            class="fr-input {% if form.errors %}fr-input--error{% endif %}"
            id="{{ form.username.id_for_label }}"
            name="{{ form.username.html_name }}"
        >
        {% if form.errors %}
            <p id="text-input-error-desc-error" class="fr-error-text">
                Votre identifiant / email et votre mot de passe de correspondent pas.
                <br>Veuillez essayer une nouvelle fois.
            </p>
        {% endif %}
    </div>
    <div class="fr-input-group fr-mt-3w {% if form.errors %}fr-input-group--error{% endif %}">
        <label class="fr-label" for="{{ form.password.id_for_label }}">Mot de passe</label>
        <input
            class="fr-input {% if form.errors %}fr-input--error{% endif %}"
            type="password"
            id="{{ form.password.id_for_label }}"
            name="{{ form.password.html_name }}"
        >
    </div>
    <button class="fr-btn fr-my-3w" type="submit">
        Se connecter
    </button>

</form>
{% endblock %}
