{% extends "admin/change_form.html" %}
{% load static %}

{% comment %}
FIXME : split verticalement
{% endcomment %}

{% block extrahead %}
    {{ block.super }}
    <script type="module" src="{% static "admin.js" %}"></script>
{% endblock%}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "sppnaut.css" %}">
    {% comment %}
    FIXME : mieux gérer les styles plus tard
    {% endcomment %}
{% endblock%}

{% block field_sets %}
    <div
        class="sn-grid sn-h-half-screen sn-max-h-half-screen sn-gap-2w sn-grid-cols-3"
    >
        <div id="map" class="sn-row-span-2 sn-col-span-2"></div>
        <div id="layer-selector">
            <label for="layer-select">Choisissez votre layer : </label>
            <select id="layer-select">
                <option value="BALISAGE_BDD_WMSV">Balisage</option>
                <option value="INFORMATIONS_PORTUAIRES_BDD_WMSV">Ports</option>
            </select>
        </div>
        {{ original.bdgs_object.geometry.json|json_script:"bdgs_geometry" }}
        <div
            id="wms-feature"
            class="sn-overflow-x-hidden sn-overflow-y-auto sn-overscroll-contain"
        ></div>
    </div>

    {{ block.super }}
{% endblock field_sets %}
