{% extends "gis/openlayers-osm.html" %}

{% block options %}
{{ block.super }}
options['map_epsg'] = '{{ map_epsg }}';
options['dataset_epsg'] = '{{ dataset_epsg }}';
options["style"] = new ol.style.Style({
    fill: new ol.style.Fill({ color: "rgba(255,0,0,.5)" }),
    stroke: new ol.style.Stroke({
        color: "red",
        width: 2,
    }),
    image: new ol.style.Circle({
        radius: 7,
        fill: new ol.style.Fill({
            color: "rgba(255, 0,0)",
        }),
        stroke: new ol.style.Stroke({
            color: "white",
            width: 2,
        }),
    }),
})

{% endblock options %}

{% block base_layer %}
const layerPerZoom = [
    // We keep RASTER_MARINE_50_WMSR_3857 because RASTER_MARINE_3857_WMSR is missing tiles at high zoom levels
    { layer: "RASTER_MARINE_50_WMSR_3857", minZoom: 13 },
    { layer: "RASTER_MARINE_3857_WMSR" },
]
const base_layer = layerPerZoom.map(({ layer, minZoom }) => {
    return new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: "https://services.data.shom.fr/u2kejlcaaf2ar8v69kvvqef6/wms/r",
            params: { LAYERS: layer },
            serverType: "geoserver",
        }),
        preload: Infinity,
        minZoom,
    })
})
{% endblock base_layer %}
