
.carting-alinea-numero {
    float: left;
    font-size: 0.75rem;
    padding: 0.15rem 0.5rem 0 0;
}

.carting-titre-numero {
    float: left;
    padding-right: 0.5rem;
    font-weight: bold;
}

.carting-illustration {
    margin-left: 3rem;
}

.carting-illustration-numero {
    float: left;
    padding-right: 0.5rem;
}
.carting-illustration-texte {
    float: left;
    padding-right: 0.5rem;
}

.carting-tableau {
    margin-left: 3rem;
}

.carting-tableau-numero {
    float: left;
    padding-right: 0.5rem;
}
.carting-tableau-texte {
    float: left;
    padding-right: 0.5rem;
}

