.sppnaut-aligncenter {
    display: flex;
    align-items: center;
}

.sppnaut-v-align-top {
    vertical-align: top;
}

.sppnaut-nowrap {
    white-space: nowrap;
}

.sppnaut-italic {
    font-style: italic;
}

.sppnaut-bold {
    font-weight: bold;
}

.sppnaut-width-full {
    width: 100%;
}

.sppnaut-width-auto {
    width: auto;
}

.sppnaut-h-full {
    height: 100%;
}

.sppnaut-max-h-8w {
    max-height: 4rem;
}

.sppnaut-max-h-screen {
    max-height: 100vh;
}

.sppnaut-min-h-half-screen {
    min-height: 50vh;
}

.sppnaut-max-w-120w {
    max-width: 60rem;
}

.sppnaut-overflow-y-auto {
    overflow-y: auto;
}

.sppnaut-sticky {
    position: sticky;
}

.sppnaut-top-0 {
    top: 0;
}

.sppnaut-section:target {
    background-color: #ececfe;
}

html,
body {
    scroll-behavior: smooth;
}

.sppnaut-scroll-mt-8w {
    scroll-margin-top: 20vh;
}

/* FIXME */
.sppnaut-prout h2,
.sppnaut-prout h3,
.sppnaut-prout h4,
.sppnaut-prout h5,
.sppnaut-prout h6 {
    margin-top: 1rem;
}
