

.sppnaut-aligncenter {
    display:flex;
    align-items: center;
}

.sppnaut-nowrap{
    white-space: nowrap;
}

.sppnaut-italic{
    font-style: italic;
}

.sppnaut-vignette {
    list-style: none;
}

.sppnaut-vignette img {
    height: 150px;
}
