.sppnaut-aligncenter {
    display: flex;
    align-items: center;
}

.sppnaut-v-align-top {
    vertical-align: top;
}

.sppnaut-nowrap {
    white-space: nowrap;
}

.sppnaut-italic {
    font-style: italic;
}

.sppnaut-bold {
    font-weight: bold;
}

.sppnaut-width-full {
    width: 100%;
}

.sppnaut-width-auto {
    width: auto;
}

.sppnaut-h-full {
    height: 100%;
}

.sppnaut-max-h-8w {
    max-height: 4rem;
}

.sppnaut-max-h-screen {
    max-height: 100vh;
}

.sppnaut-min-h-half-screen {
    min-height: 50vh;
}

.sppnaut-max-w-120w {
    max-width: 60rem;
}

.sppnaut-overflow-y-auto {
    overflow-y: auto;
}

.sppnaut-sticky {
    position: sticky;
}

.sppnaut-top-0 {
    top: 0;
}

.sppnaut-bg-yellow {
    background-color: yellow;
}
