{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Carting{% endblock%}

{% block extra_css %}
<link rel="stylesheet" href="{% static "carting.css" %}">
{% endblock %}

{% block js %}
<script type="module" src="{% static "carting.js" %}"></script>
{% endblock %}

{% block main %}
<div class="fr-container--fluid">
    <div
        data-controller="map"
        data-action="
            ol:select->map#selectSectionInText
            hashchange@window->map#selectSectionInMap
        "
        {% comment %} data-map-padding-value="[0,0,0,0]"
        data-map-duration-value="300"
        data-map-selected-stroke-color-value="#f00"
        data-map-selected-fill-color-value="#f003" {% endcomment %}
        class="fr-grid-row fr-m-1w"
    >
        <div class="fr-col-12 fr-col-lg-7">
            <div
                id="map"
                data-map-target="map"
                class="fr-p-1w sppnaut-min-h-half-screen sppnaut-max-h-screen sppnaut-h-full sppnaut-width-full sppnaut-sticky sppnaut-top-0"
            >
            </div>
        </div>
        <div class="fr-col-12 fr-col-lg-5 fr-p-1w">
            <form>
                <div class="fr-search-bar" role="search">
                    <input
                        class="fr-input"
                        placeholder="Cherche par ouvrage/section, ex : z99/4.2.2."
                        type="search"
                        value="{{search|default_if_none:''}}"
                        name="search"
                    >
                    <button class="fr-btn" title="Rechercher">
                        Rechercher
                    </button>
                </div>
            </form>
            <hr/>
            <div>
                {% for section in sections %}
                    <div id="{{section.pk}}"
                        class="sppnaut-section sppnaut-scroll-mt-8w
                        {% comment %} fr-grid-row fr-grid-row--gutters {% endcomment %}
                        "
                        data-map-target="section"
                        data-geojson="{{ section.geojson }}"
                        style="display: flex; gap: 0.5rem; margin-bottom: 0.5rem; max-width: 80ch;"
                    >
                        <span style="min-width: 2.5rem">
                        {% if section.geometry and section.tree_depth >= search_tree_depth %}
                            <a href="#{{ section.pk }}"
                                class="fr-btn fr-btn--tertiary-no-outline fr-icon-map-pin-2-line"
                            >
                                Montrer sur la carte
                            </a>
                        {% endif %}
                        </span>
                        <div class="sppnaut-prout">
                            {{ section.content_html }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
