{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Carting{% endblock%}

{% block extra_css %}
<link rel="stylesheet" href="{% static "carting.css" %}">
{% endblock %}

{% block js %}
<script type="module" src="{% static "carting.js" %}"></script>
{% endblock %}

{% block main %}
<div class="fr-container--fluid">
    <div
        data-controller="map"
        data-action="
            ol:select->map#selectSectionInText
            hashchange@window->map#selectSectionInMap
        "
        data-map-padding-value="[0,0,0,0]"
        data-map-duration-value="300"
        data-map-selected-stroke-color-value="#f00"
        data-map-selected-fill-color-value="#f003"
        class="fr-grid-row fr-m-1w"
    >
        <div class="fr-col-12 fr-col-lg-6">
            <div
                id="map"
                data-map-target="map"
                class="fr-p-1w sppnaut-min-h-half-screen sppnaut-max-h-screen sppnaut-h-full sppnaut-width-full sppnaut-sticky sppnaut-top-0"
            >
            </div>
        </div>
        <div class="fr-col-12 fr-col-lg-6 fr-p-1w">
            <form>
                <div class="fr-search-bar" role="search">
                    <input
                        class="fr-input"
                        placeholder="Cherche par ouvrage/section, ex : z99/4.2.2."
                        type="search"
                        value="{{search|default_if_none:''}}"
                        name="search"
                    >
                    <button class="fr-btn" title="Rechercher">
                        Rechercher
                    </button>
                </div>
            </form>
            <hr/>
            <div>
                <table>
                    {% for section in sections %}
                        <tr id="{{section.pk}}"
                            class="sppnaut-section {% if search == section.numero %}sppnaut-section-searched{% endif %} sppnaut-scroll-mt-8w"
                            data-map-target="section"
                            data-geojson="{{ section.geojson }}"
                        >
                            <td class="sppnaut-v-align-top">
                                <div class="fr-grid-row">
                                    <span class="fr-col-12">
                                        <a
                                            href="{% url 'carting:index' %}?search={{ section.numero }}"
                                            class="fr-link"
                                            title="{{ section.get_typology_display }}"
                                        >
                                            {{ section.numero }}
                                        </a>
                                    </span>
                                    {% if section.geometry and section.tree_depth >= search_tree_depth %}
                                        <a href="#{{ section.pk }}"
                                            class="fr-btn fr-btn--tertiary-no-outline fr-icon-map-pin-2-line fr-col-12"
                                        >
                                            Montrer sur la carte
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                            <td class="sppnaut-v-align-top">
                                {{ section.content_html }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
