<h5>Coordonnées</h5>

<ul>
{% for telecommunication in self.telecommunications %}
    <li>
        {% with telecommunication.telecommunication_service.0.value as type %}
            {% if type == "voice" %}
            tel
            {% elif type == "facsimile" %}
            fax
            {% elif type == "email" %}
            email
            {% endif %}
        {% endwith %}
        : {{ telecommunication.telecommunication_identifier }}
    </li>
{% endfor %}
</ul>

Radicommunications
Indicatif {{ self.call_sign }}
VHF {{ self.communication_channel }}
{{ self.communication_channel }}
