{% load s100 %}

{% for feature_name in self.feature_name %}
    {% if feature_name.language == "fr" %}
        <div>{{self.feature_name.1.language}} : {{self.feature_name.1.name}}</div>
    {% else %}
        <h3>{{self.feature_name.0.name}}</h3>
    {% endif %}
{% endfor %}


<h4>Arrêtés</h4>
{% for the_rx_n in self.the_rx_n %}
    <div>{% rx_n the_rx_n.href %}</div>
{% endfor %}

<h4>Procédure</h4>
{% for permission in self.permission %}
    <div>{% permission permission.href %}</div>
{% endfor %}

<h4>Embarquement du pilote</h4>
{% for consists_of in self.consists_of %}
    <div>{% consist_of consists_of.href %}</div>
{% endfor %}

<h4>Notes</h4>
{% for service_provider in self.service_provider %}
    <div>{{service_provider.href}}</div>
{% endfor %}


