{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Carting{% endblock%}

{% block main %}
<div class="fr-container--fluid">
    <div class="fr-grid-row fr-py-6w">
        <div class="fr-col-12 fr-col-lg-6 fr-mb-2w">


            <div id="map" class="map" style="width: 100%;height: 600px;"></div>


        </div>
        <div class="fr-col-12 fr-col-lg-6 fr-mb-2w">
            <form>
                <div class="fr-search-bar" role="search">
                    <input
                        class="fr-input"
                        placeholder="Rechercher avec un xpath ou un bpn_id"
                        type="search"
                        value="{{search|default_if_none:''}}"
                        name="search">
                    <button class="fr-btn" title="Rechercher">
                        Rechercher
                    </button>
                </div>
            </form>
            <hr/>
            <div>
                {% for element in elements %}
                    <p>
                        <a href="{% url 'carting:display_in_with_map' %}?search={{ element.numero }}" class="fr-link">
                            {{ element.typology }} / {{ element.bpn_id }} :
                        </a>
                    </p>
                    <p>
                        {{ element.content_html }}
                    </p>
                {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="module" src="{% static "js/map.js" %}"></script>
{% endblock %}
