{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Carting{% endblock%}

{% block main %}
<div class="fr-container--fluid">
    <div class="fr-grid-row fr-m-1w">
        <div class="fr-col-12 fr-col-lg-6 fr-p-1w">


            <div id="map" class="map" style="width: 100%;height: 600px; position: sticky; top: 0; max-height: 100vh;"></div>


        </div>
        <div class="fr-col-12 fr-col-lg-6 fr-p-1w">
            <form>
                <div class="fr-search-bar" role="search">
                    <input
                        class="fr-input"
                        placeholder="Cherche par ouvrage/section, ex : z99/4.2.2."
                        type="search"
                        value="{{search|default_if_none:''}}"
                        name="search">
                    <button class="fr-btn" title="Rechercher">
                        Rechercher
                    </button>
                </div>
            </form>
            <hr/>
            <div>
                {% for element in elements %}
                    <p>
                        <a href="{% url 'carting:display_in_with_map' %}?search={{ element.numero }}" class="fr-link">
                            {{ element.typology }} / {{ element.bpn_id }} :
                        </a>
                        {% if element.geometry %}
                            <button class="fr-btn sppnaut-map"
                                data-geojson="{{ element.json }}"
                            >
                                Voir sur la carte {{ element.geometry.geom_type }}
                            </button>
                        {% endif %}
                    </p>
                    <p>
                        {{ element.content_html }}
                    </p>
                {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<link rel="stylesheet" href="{% static "map.css" %}">
<script type="module" src="{% static "map.js" %}"></script>
{% endblock %}
