{% extends "layout/base.html" %}

{% load static %}



{% block content %}
    <div class="fr-container-fluid ds_banner">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters fr-py-6w">
                <div class="fr-col-lg-11 fr-col-offset-lg-1 fr-mb-2w">

                    <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="fr-upload-group">
                            <label class="fr-label" for="file-upload"
                            >Je souhaite visualiser le rendu final PDF d'un tableau réalisé avec OpenOffice :
                                <ol>
                                    <li>Je travaille mon tableau sur OpenOffice</li>
                                    <li>Avec la boite à outil "OutilNA", je fais un export XML</li>
                                    <li>Je viens chercher le fichier XML avec le bouton "Parcourir" et je lance la génération de la visualisation PDF en appuyant sur le bouton "Générer le PDF"</li>
                                </ol>
                                <span class="fr-hint-text"
                                >Format supporté :
                                    XML.</span
                                    >
                                </label>
                                <input
                                    class="fr-upload"
                                    type="file"
                                    id="{{form.file.id_for_label}}"
                                    name="{{form.file.html_name}}"
                                    accept="text/xml"
                                />

                                <button type="submit" class="fr-mt-1w fr-btn">Générer le PDF</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
