{% extends "layout/base.html" %} {% block content %}

<form id="uploadForm" action="{% url 'home:toto' generation_id %}">
    <input type="file" allowdirs multiple webkitdirectory />
    <input type="hidden" name="auth_token" value="{{auth_token}}" />
    <input type="hidden" name="generation_id" value="{{generation_id}}" />
    <input type="hidden" name="upload_url" value="{{upload_url}}" />
    <input
        type="hidden"
        name="launch_generation_url"
        value="{{launch_generation_url}}"
    />
    <!--- FIXME: CSRF ? -->
    <button>Upload/Generate</button>
</form>

<script>
    document
        .getElementById("uploadForm")
        .addEventListener("submit", async function (e) {
            e.preventDefault();

            const UPLOAD_URL = e.target.querySelector(
                "input[name=upload_url]"
            ).value;
            const AUTH_TOKEN = e.target.querySelector(
                "input[name=auth_token]"
            ).value;
            const LAUNCH_GENERATION_URL = e.target.querySelector(
                "input[name=launch_generation_url]"
            ).value;

            const uploads = [];
            for (const file of e.target.querySelector("input[type=file]")
                .files) {
                console.log(file);

                const data = new FormData();
                data.append("file", file);
                data.append("webkitRelativePath", file.webkitRelativePath);
                uploads.push(
                    fetch(UPLOAD_URL, {
                        headers: new Headers({
                            authorization: `Basic ${AUTH_TOKEN}`,
                        }),
                        method: "POST",
                        body: data,
                    })
                );
            }

            // FIXME: Gestion d'erreur si un upload échoue
            await Promise.all(uploads);

            // FIXME: Gestion d'erreur si le status_code est pas 200
            await fetch(LAUNCH_GENERATION_URL, {
                method: "POST",
                headers: new Headers({
                    authorization: `Basic ${AUTH_TOKEN}`,
                }),
            });
            window.location = e.target.action;
        });
</script>

{% endblock %}
