{% extends "layout/base.html" %}

{% load static %}

{% block content %}

    <form id="uploadForm">
        <input type="file" allowdirs multiple webkitdirectory/>
        <input type="hidden" name="generation_id" value="{{generation_id}}">
        <input type="hidden" name="upload_url" value="{{upload_url}}">
        <input type="hidden" name="launch_generation_url" value="{{launch_generation_url}}">
        <!--- FIXME: CSRF ? -->
        <button>Upload/Generate</button>
    </form>

    <script>
        document.getElementById('uploadForm').addEventListener('submit', function(e) {
            e.preventDefault()

            for (const file of e.target.querySelector('input[type=file]').files) {
                console.log(file)
            }
            fetch()
        });
    </script>

{% endblock %}
