{% extends "layout/base.html" %}

{% load static %}

{% block content %}


<form id="uploadForm" action="{% url 'home:publication_display' generation_id %}">
    <input type="hidden" name="auth_token" value="{{auth_token}}" />
    <input type="hidden" name="upload_url" value="{{upload_url}}" />
    <input
        type="hidden"
        name="launch_generation_url"
        value="{{launch_generation_url}}"
    />

    <div class="fr-upload-group fr-mb-3w">
        <label class="fr-label" for="file-upload">
        <p>Je souhaite visualiser le rendu final d'une publication en PDF à partir de l'ensemble des sources de ma publication.</p>
        Attention, le dossier téléversé doit contenir :
            <ol>
                <li>Les illustrations dans les sous dossiers /illustration/eps, /illustration/svg et /illustration/pdf (si nécessaire)</li>
                <li>Les tableaux au format XML dans /tableaux</li>
                <li>Le contenu de la publication dans le fichier /xml/document.xml</li>
            </ol>
        > Par exemple, téléverser le dossier nommé `565`
        <img src="{% static 'img/publication_tree_example.png' %}">
        </label>
        <input
            class="fr-upload"
            type="file"
            name="files"
            allowdirs multiple webkitdirectory />
        <div id="div-error" hidden>
            <p id="text-input-error-desc-error" class="fr-error-text" hidden>
                Vous devez séléctionner un dossier de publication nautique (ex: 'g4' ou '565')
            </p>
        </div>
    </div>

    <!--- FIXME: CSRF ? -->
    <button class="fr-btn">
        <img src="{% static 'img/loading.gif' %}" width="20px" class="fr-mr-1w" hidden/>
        Générer la publication</button>
</form>

<script src="{% static 'js/publication.js' %}" defer></script>

{% endblock %}
