{% extends "layout/base.html" %}

{% block page_title %}La génération de la publication a échoué{% endblock page_title %}

{% block content %}
<h1>La génération de la publication a échoué</h1>

<p>L'équipe a été informée de ce problème.</p>

<p>
    <section class="fr-accordion">
        <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-106">Détail de l'erreur</button>
        </h3>
        <div class="fr-collapse" id="accordion-106">
            <code>
                {{ error|linebreaksbr }}
            </code>
        </div>
    </section>
</p>

<p>
    N'hésitez pas à faire part à
    <a
        href="mailto:equipe@sppnaut.beta.gouv.fr?subject=La génération de la publication d'identifiant {{ generation_id }} a échouée"
    >
        l'équipe SPPNAUT
    </a>
    de votre expérience.
    <br />
    Merci de préciser l'identifiant de cette génération :
    <span class="sppnaut-nowrap sppnaut-italic"> {{ generation_id }}. </span>
    <br />
    Nous reviendrons vers vous dans les plus brefs délais.
</p>

<a href="{% url 'home:publication_upload' %}">
    Recommencer une nouvelle génération de publication
</a>
{% endblock %}
