{% extends "layout/base.html" %}

{% load static %}

{% block content %}

<form id="uploadForm" action="{% url 'home:publication_display' generation_id %}">
    <input type="file" name="files" allowdirs multiple webkitdirectory />
    <input type="hidden" name="auth_token" value="{{auth_token}}" />
    <input type="hidden" name="upload_url" value="{{upload_url}}" />
    <input
        type="hidden"
        name="launch_generation_url"
        value="{{launch_generation_url}}"
    />
    <!--- FIXME: CSRF ? -->
    <button class="fr-btn">Upload/Generate</button>
</form>

<script src="{% static 'js/publication.js' %}" defer></script>

{% endblock %}
