{% extends "layout/base.html" %}

{% block page_title %}La génération de la publication a échoué{% endblock page_title %}

{% block content %}


<h1 >La génération de la publication a échoué</h1>
<div class="fr-alert fr-alert--warning">


    <h3 class="fr-alert__title">L'équipe a été informée de ce problème.</h3>

    <p>
        N'hésitez pas à faire part à
        <a
            href="mailto:equipe@sppnaut.beta.gouv.fr?subject=La génération de la publication d'identifiant {{ generation_id }} a échouée"
        >
            l'équipe SPPNAUT
        </a>
        de votre expérience.
    </p>
    <p>
        Merci de préciser l'identifiant de cette génération :
        <span class="sn-whitespace-nowrap sn-italic"> {{ generation_id }}. </span>
        <br />
        Nous reviendrons vers vous dans les plus brefs délais.
    </p>
</div>

<section class="fr-accordion fr-my-3w">
    <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn  fr-h3" aria-expanded="false" aria-controls="accordion-logs">Détail de l'erreur</button>
    </h3>
    <div class="fr-collapse" id="accordion-logs">
        <pre class="sn-overflow-y-auto">{{ logs }}</pre>
    </div>
</section>

<a href="{% url 'spo:publication_upload' %}">
    Recommencer une nouvelle génération de publication
</a>

{% endblock %}
