{% extends "layout/base.html" %} {% load static %} {% block content %}

{% for date, ouvrage in ouvrages.items %}
<h2>
    {{ date|date:'d/m/Y' }}
</h2>

<ul>
{% for ouvrage_name, files in ouvrage.items %}
<li>
    <h3>{{ ouvrage_name }} :</h3>
    <ul>
        {% for file_name, file_info in files.items %}
            <li><a href="{{file_info.url}}">{{ file_name }}</a></li>
        {% endfor %}
    </ul>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="ouvrage" value="{{ouvrage_name}}" />
        <button class="fr-mt-1w fr-btn">Re-Générer l'ouvrage</button>
    </form>
</li>
{% endfor %}
</ul>

{% endfor %}



{% endblock %}
