{% extends "layout/base.html" %}

{% load static %}



{% block content %}

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="fr-upload-group">
            <label class="fr-label" for="file-upload"
            >Je souhaite visualiser le rendu final PDF d'un tableau réalisé avec LibreOffice :
                <ol>
                    <li>Je travaille mon tableau sur LibreOffice</li>
                    <li>Avec la boite à outil "OutilNA", je fais un export XML</li>
                    <li>Je viens chercher le fichier XML avec le bouton "Parcourir" et je lance la génération de la visualisation PDF en appuyant sur le bouton "Générer le PDF"</li>
                </ol>
                <span class="fr-hint-text"
                >Format supporté :
                    XML.</span
                    >
                </label>
                <input
                    class="fr-upload"
                    type="file"
                    id="{{form.file.id_for_label}}"
                    name="{{form.file.html_name}}"
                    accept="text/xml"
                />


                {% for error in form.file.errors %}
                    <p id="text-input-error-desc-error" class="fr-error-text">
                        {{ error }}
                    </p>
                {% endfor %}

                <button type="submit" class="fr-mt-1w fr-btn">Générer le PDF</button>
            </div>
        </form>
{% endblock %}
