.choice-array-field {
    grid-template-columns: repeat(auto-fill, 15rem);
    display: grid;
}

.aligned .choice-array-field label {
    width: auto;
    align-items: center;
    display: flex;
}

.aligned .choice-array-field label > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.75rem * var(--tw-space-x-reverse));
    margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.aligned .choice-array-field label {
    font-size: 1rem;
    line-height: 1.5rem;
}

.choice-array-field input {
    margin-right: 0.5rem;
}

.inline-group,
.inline-group.djn-group-nested,
form .module {
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary);
}
