/* FIXME : Cf ChoiceArrayField in carting/fields.py
    On a eu besoin de spécifier le div pour appliquer la classe uniquement
    sur le parent et pas toutes les checkbox.
*/
div.choice-array-field {
    display: grid;
}
div.choice-array-field-several-columns {
    grid-template-columns: repeat(auto-fill, 35ch);
}
div.choice-array-field-one-column {
    grid-template-columns: 1fr;
}
.choice-array-field label {
    /* FIXME : check why the last line over more than 3 has a higher space before */
    width: 100%;
}

fieldset.module, /* fieldsets django */
.inline-group, /* inlines django */
.inline-group.djn-group-nested /* Override un sélecteur spécifique provenant de django_nested_admin qui ajoute un border: none; */ {
    border: 1px solid var(--admin-interface-module-background-color); /* --admin-interface-module-background-color est définie par django-admin-interface */
}

:is(fieldset.module /* fieldsets django */, .inline-group /* inlines django */) h2 {
    font-size: 1.5rem;
    text-transform: capitalize;
}
:is(fieldset.module /* fieldsets django */, .inline-group /* inlines django */) h3 {
    font-size: 1.5rem;
}

.inline-group.djn-group-nested h2 {
    font-size: 1.5rem;
}

.inline-group.djn-group-nested h3 {
    font-size: 1.2rem !important;
}

.add-handler {
    border: 1px solid var(--admin-interface-module-background-color);
    padding: 0.2rem 1rem;
    background-position: 2px 50% !important;
}

label.required::after {
    content: " (required)" !important;
    vertical-align: inherit !important;
    padding-top: 4px;
    color: var(--admin-interface-module-background-color);
}
