<div class="fr-table sppnaut-max-w-100w">
    <table>
        <caption class='fr-mb-3w'>{{caption}}</caption>
        <tbody>
            {% for ouvrage in ouvrages %}
                <tr>
                    <th scope="row">
                        <img height="297" width="210" class="sppnaut-width-auto sppnaut-max-h-8w" src="{{ouvrage.vignette.url}}" alt=""/>
                    </th>
                    <th class="fr-h3 sppnaut-width-full" scope="row">
                        {{ ouvrage.name }}
                    </th>

                    <td>
                        <a class='fr-btn' href="{{ouvrage.document}}" title="{{ ouvrage.document.name }}">
                            PDF
                        </a>
                    </td>
                    <td>
                        {% if ouvrage.metadata %}
                            <a class='fr-btn fr-btn--secondary' href="{{ouvrage.metadata}}" title="{{ ouvrage.metadata.name }}">
                                Métadonnées
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if ouvrage.vignette %}
                            <a class='fr-btn fr-btn--secondary' href="{{ouvrage.vignette}}" title="{{ ouvrage.vignette.name }}">
                                Vignette
                            </a>
                        {% endif %}
                    </td>
                    {% if allow_forced_generation %}
                        <td>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="ouvrage" value="{{ouvrage.name}}" />
                                <button class="fr-btn fr-btn--icon-left fr-icon-refresh-line fr-btn--tertiary" titre="Re-Générer l'ouvrage">
                                    Regénérer
                                </button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
