{% load static %}

<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>Française
                            </p>
                        </div>
                        <div class="fr-header__operator">
                            <img height="100px" class="apilos-fi-btn--secondary fr-mr-1w" src="{% static "img/shom_logo.png" %}">
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="/" title="Accueil - APiLos">
                            <p class="fr-header__service-title">SPPNaut</p>
                        </a>
                        <p class="fr-header__service-tagline">Chaine de production des publications nautiques</p>
                        <p class="fr-header__service-tagline fr-text--sm"><i>Plateforme interactive et géolocalisée</i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fr-header__menu">
        <div class="fr-container">

            <nav class="fr-nav" id="header-navigation" role="navigation" aria-label="Menu principal">
                <ul class="fr-nav__list">
                  <li class="fr-nav__item">
                        {% url 'home:tableau' as tableau %}
                        <a class="fr-nav__link" href="{{tableau}}" target="_self" {% if tableau == request.path %}aria-current="page"{% endif %}>Génération de tableaux</a>
                  </li>
                  <li class="fr-nav__item">
                    {% url 'home:publication_upload' as publication_upload %}
                    <a class="fr-nav__link" href="{{publication_upload}}" target="_self" {% if publication_upload == request.path %}aria-current="page"{% endif %}>Génération de publications</a>
                  </li>
              </ul>
            </nav>
        </div>
    </div>
</header>
