{% load static %}

<header
    role="banner"
    class="
        fr-header
        sn-snap-always sn-snap-start
    "
>
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>Française
                            </p>
                        </div>
                        <div class="fr-header__operator">
                            <img
                                class="fr-responsive-img"
                                style="max-width:9.0625rem;"
                                src="{% static "img/shom_logo.png" %}"
                                alt="Shom"
                            >
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="dsfr-header-modal" aria-haspopup="menu" id="dsfr-header-button" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="/" title="Accueil - SPPNaut">
                            <p class="fr-header__service-title">SPPNaut</p>
                        </a>
                        <p class="fr-header__service-tagline">Chaine de production des publications nautiques</p>
                        <p class="fr-header__service-tagline fr-text--sm"><i>Plateforme interactive et géolocalisée</i></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="fr-header__menu fr-modal" id="dsfr-header-modal" aria-labelledby="dsfr-header-button">
        <div class="fr-container">
            <button class="fr-btn--close fr-btn" aria-controls="dsfr-header-modal" title="Fermer">
                Fermer
            </button>
            <div class="fr-header__menu-links">
            </div>
            <nav class="fr-nav" id="header-navigation" role="navigation" aria-label="Menu principal">
                <ul class="fr-nav__list">
                    {% for menu_title, submenus in menu.items %}
                    <li class="fr-nav__item">
                        <button
                            class="fr-nav__btn"
                            aria-expanded="false"
                            aria-controls="menu-{{ forloop.counter }}"
                            {% if request.path in submenus.values %}
                                aria-current="true"
                            {% endif %}
                        >
                            {{ menu_title }}
                        </button>
                        <div class="fr-collapse fr-menu" id="menu-{{ forloop.counter }}">
                            <ul class="fr-menu__list">
                                {% for submenu_title, submenu_url in submenus.items %}
                                <li>
                                    <a
                                        class="fr-nav__link"
                                        href="{{ submenu_url }}"
                                        {% if request.path == submenu_url %}
                                            aria-current="page"
                                        {% endif %}
                                    >
                                        {{ submenu_title }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </nav>

        </div>
    </div>

</header>
